.input {
    position: relative;
    padding-bottom: 15px;
}

.message {
    display: none;
    position: absolute;
    font-size: 12px;
    line-height: 14px;
    top: calc(100% - 15px);
    left: 0;
    color: #da1313;
    margin: 0;

    .validated + & {
        display: block;
    }
}
