<form class="elements-column" novalidate>
  {{{children.login}}}
  {{{children.password}}}

  <div class="login__action">
    <button class="button button--primary" type="submit">{{ui.user.loginButton}}</button>
  </div>
  <div class="login__link">
    <a class="link" href="/signup.html">{{ui.user.signupLink}}</a>
  </div>
</form>
