.chat-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    &__header {
        flex: 0 0 60px;
        max-height: 60px;
        background-color: white;
        border-bottom: 1px solid var(--border-color);
    }

    &__content {
        flex: 1 1 auto;
    }

    &__footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
        background-color: white;
        padding: 0 0 15px;

        &:focus-within {
            height: 120px;
        }
    }
}

.chat-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0 50px;
}


.chat {
    margin-top: 30px;

    &__message {
        margin-bottom: 20px;
        display: flex;
    }

    &__date {
        text-align: center;
    }
}

.chat-date {
    display: flex;
    justify-content: center;

    span {
        background: var(--gray-color-light);
        border-radius: 4px;
        padding: 2px 7px;
        line-height: 20px;
        margin-top: 15px;
        margin-bottom: 30px;
    }
}

.empty-chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 0 20px;

    &__plus {
        color: var(--primart-text-color);
        margin-left: auto;

        &:hover {
            color: var(--primary-color-darker);
        }
    }

    &__delete {
        color: var(--primart-text-color);
        margin-left: 20px;

        &:hover {
            color: var(--danger-color-darker);
        }
    }
}

.avatar {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
}
