.login {
    margin-top: 0;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    min-width: 370px;
    box-shadow:
            -10px 0 20px var(--secondary-color-lighter),
            0 10px 20px var(--secondary-color-lighter),
            0 -10px 20px var(--primary-color-lightest),
            10px 0 20px var(--primary-color-lightest);

    &__action {
        margin-top: 20px;
    }

    &__link {
        display: flex;
        justify-content: center;
    }
}
