@import "common/root.css";
@import "common/base.css";
@import "common/card.css";
@import "common/forms.css";
@import "common/buttons.css";
@import "common/links.css";
@import "common/utils.css";

.layout {
    display: flex;
    --sidebar-width: 320px;
    --content-width: calc(100% - var(--sidebar-width));
    min-height: 100vh;
    border-right: 1px solid var(--border-color);

    &__sidebar {
        background-color: white;
        border-right: 1px solid var(--border-color);
        flex: 0 0 var(--sidebar-width);
    }

    &__content {
        display: flex;
        flex: 1 0 var(--content-width);
        max-width: var(--content-width);

        &:only-child {
            --content-width: 100%;
        }

        &--white {
            background-color: white;
        }
    }

    &__logo {
        position: absolute;
        top: 30px;
        left: 30px;

        &--inner {
            top: 18px;
            left: 15px;
            width: 80px;
        }
    }
}

.center-container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
