.control {
    width: 100%;
    border: 1px solid var(--border-color);
    min-height: 36px;
    border-radius: 8px;

    &:focus {
        outline: 1px solid var(--primary-color);
    }
}

.textarea {
    padding: 0 10px;
    max-height: 36px;

    &:focus {
        padding: 10px;
        max-height: 80px;
    }
}

.label {
    display: block;
    margin-bottom: 5px;
}
