.styled-scrollbar {
    &::-webkit-scrollbar {
        width: 6px;
        background-color: transparent;
        border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--primary-color-lightest);
        border-radius: 2px;
    }
}


.elements-row {
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
    gap: 15px;

    &--gap-20 {
        gap: 20px;
    }

    &--justified {
        justify-content: space-between;
    }
}

.elements-column {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    gap: 15px;

    &--gap-10 {
        gap: 10px;
    }
}
