---
title: Error
css: [errors.css]
---

{{!< base}}

<main class="layout">
  <div class="layout__content layout__content--white center-container">
    <div class="error">
      <h1>{{ui.notFound}}</h1>
      <img class="error__img"
           src="../assets/img/error-status.svg"
           alt="">
      <a href="../pages/login.hbs">{{ui.home}}</a>
    </div>
  </div>
</main>

