---
title: index
css: [errors.css]
---

{{!< base}}

<main class="layout">
  <div class="layout__content layout__content--white center-container">
    <div class="error">
      <h1>500</h1>
    </div>
  </div>
</main>

