---
title: about
aboutTitle: Welcome to about.hbs
css: [login.css]
---
{{!< base}}

<main>
  <div class="layout">
    <div class="layout__sidebar">
      <ul>
        <li>
          chat name 1
        </li>
        <li>
          chat name 2
        </li>
        <li>
          <a href="index.hbs">return</a>
        </li>
      </ul>
    </div>
    <div class="layout__content">
      chat
      <p>
        <textarea></textarea>
      </p>
    </div>
  </div>
</main>
