---
title: chats
css: [sidebar.css]
data: data
contacts: data
---
{{!< base}}

<main>
  <div class="layout">
    <div class="layout__sidebar">
      {{> sidebar}}
    </div>
    <div class="layout__content">
      chat<a href="chat.hbs">ff</a>
      <p>
        <textarea></textarea>
      </p>
    </div>
  </div>
</main>
