---
title: chats
css: [sidebar.css]
---
{{!< base}}

<main>
  <div class="layout">
    <div class="layout__sidebar">
      {{> sidebar}}
    </div>
    <div class="layout__content">
      <a href="chat.hbs">chat</a>
      <p>
        <textarea></textarea>
      </p>
    </div>
  </div>
</main>
