---
title: index
css: [login.css]
---

{{!< base}}

<ul>
  <li>
    <a href="login.hbs">login</a>
    <a href="signup.hbs">signup</a>
    <a href="chats.hbs">chats</a>
    <a href="chat.hbs">chats</a>
    <a href="user.hbs">edit user</a>
    <a href="404.hbs">404</a>
    <a href="500.hbs">500</a>
  </li>
</ul>

{{>sidebar}}

