---
title: index
css: [login.css]
---

{{!< base}}

<ul>
  <li><a href="login.hbs">login</a></li>
  <li><a href="signup.hbs">signup</a></li>
  <li><a href="chats.hbs">chats</a></li>
  <li><a href="chat.hbs">chats</a></li>
  <li><a href="user.hbs">edit</a></li>
  <li><a href="user-edit.hbs">edit user</a></li>
  <li><a href="404.hbs">404</a></li>
  <li><a href="500.hbs">500</a></li>
</ul>

