---
title: index
css: [login.css]
---

{{!< base}}

<ul>
  <li><a href="login/login.hbs">login</a></li>
  <li><a href="signup.hbs">signup</a></li>
  <li><a href="chat/chats.hbs">chats</a></li>
  <li><a href="chat/chat.hbs">chats</a></li>
  <li><a href="user/user.hbs">edit</a></li>
  <li><a href="user/user-edit.hbs">edit user</a></li>
  <li><a href="404/error-404.hbs">404</a></li>
  <li><a href="500/error-500.hbs">500</a></li>
</ul>

