---
title: index
css: [login.css]
---

{{!< base}}

<main>
  <div class="layout">
    <div class="layout__content center-container">
      <div class="login">
        <h1>Log in to start chatting</h1>
        <a href="./chats.hbs">Login</a>
      </div>
    </div>
  </div>
</main>

