---
title: index
css: [login.css]
---

{{!< base}}

<main class="layout">
  <div class="layout__content center-container">
    <img class="layout__logo" src="../assets/img/logo-taper.svg" width="100" alt="taper web messenger">
    <div class="login card">
      <h1>{{ui.user.loginTitle}}</h1>
      {{> login-form }}
    </div>
  </div>
</main>

