---
title: index
css: [login.css]
---

{{!< base}}

<main class="layout">
  <div class="layout__content center-container">
    <div class="login">
      <h1>{{user.loginTitle}}</h1>
      {{> login-form }}
    </div>
  </div>
</main>

