<section class="modal">
    <div class="modal__dialog">
        <button class="button button--round button--primary-ghost close">{{{close}}}</button>
        <h2 class="modal__title">{{title}}</h2>
        {{{children.content}}}
    </div>
</section>
