<form class="modal__body" action="/" method="post">
    <button>{{ui.close}}</button>
    <p>Загрузите новый графический файл в качестве аватара</p>
    {{{children.avatar}}}
    <button class="button button--accent" type="submit">Сохранить</button>
</form>
