<form class="elements-column">
  <div>
    <label class="label">{{user.loginLabel}}</label>
    <input class="control" name="login" />
  </div>
  <div>
    <label class="label">{{user.passwordLabel}}</label>
    <input class="control" name="password" type="password" />
  </div>

  <div class="login__action">
    <a class="button button--primary" href="./chats.hbs">{{user.loginButton}}</a>
  </div>
  <div class="login__link">
    <a class="link" href="./chats.hbs">{{user.signupLink}}</a>
  </div>
</form>
