<main class="layout">
  <div class="layout__content layout__content--white center-container">
    <div class="error">
      <h1>{{message}}</h1>
      <img class="error__img"
           src="{{img}}"
           alt="">
      <a href="/" class="js-router-link">{{ui.home}}</a>
    </div>
  </div>
</main>

