<section class="modal">
    <div class="modal__dialog">
        <h2 class="modal__title">Изменить пароль</h2>
        <form class="modal__body" action="/" method="post">
            <p>Сoздайте новый пароль:</p>
            <label for="password"></label>
            <input name="password" type="password" id="password">
            <button class="button button--accent" type="submit">Сохранить</button>
        </form>
    </div>
</section>
