.chat-message {
    position: relative;
    max-width: calc(100vw - 40px);
    padding-left: 80px;

    &__avatar {
        position: absolute;
        top: 0;
        left: 0;
        right: auto;
    }
}

.chat-message--answer {
    margin-left: auto;
    padding-right: 20px;
    padding-left: 0;

    .chat-message__avatar {
        right: 0;
        left: auto;
    }

    .avatar {
        margin-right: 0;
        margin-left: 6px;
    }

    .message-balloon {
        margin-right: 60px;
        margin-left: 50px;
        background: var(--secondary-color-lighter);

        &:after {
            right: -7px;
            left: auto;
            border-width: 8px 0 8px 7px;
            border-color: transparent transparent transparent #d3ecf7;
        }
    }
}

.message-balloon {
    background: white;
    border-radius: 5px;
    position: relative;

    &:after {
        position: absolute;
        left: -7px;
        top: 20px;
        content: "";
        height: 0;
        border-style: solid;
        border-width: 8px 7px 8px 0;
        border-color: transparent white transparent transparent;
        z-index: 10;
    }
}

.message-content {
    padding: 10px;
    max-width: 540px;
    text-overflow: ellipsis;

    &--file {
        padding: 0;
    }

    &__time {
        font-size: 0.9rem;
        margin-top: 6px;
        text-align: right;
        color: var(--secondary-color-darker)
    }
}
