<div class="chat-message {{messageClass}}">
  <div class="chat-message__avatar">
    <div class="avatar"></div>
  </div>
  <div class="message-balloon">
    <div class="message-content">
      <p>{{message}}</p>
      <div class="message-content__time">
        {{time}}
        {{{check}}}
      </div>
    </div>
  </div>
</div>
